.table{
    width: 100%;
    height: 100%;
    @include flex-center-center;
    flex-direction: column;

    &__table{
        margin-top: 30px;
        th{
            background-color: #37569C;
            border: 1px solid #37569C;
        }

        table{
            text-align: center;
            border: 1px solid #37569C;
        }
        th, tr,td{
            border: 1px solid #37569C;
            padding: 15px;
            text-align: center;
        }
    }

    .container{
        @include flex-center-center;
        flex-direction: column;
    }

    &__lluvia{
        display: none;
    
        &--active{
            display: block;
        }
    }
    
    
}
