//*Container
@import 'global/container';

//*mixins
@import 'mixins/flex';

//*Table
@import 'table';
@import 'information';

*{
    padding: 0;
    margin: 0;
}

a{
    background-color: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
}